@import "./index.scss";

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
*,
*::before,
*::after {
	box-sizing: border-box;
}


#container_char {
    // top: 25%;
    // left: 0%;
    // width: 100%;
    // height: auto;
	// margin: 0;
	// padding: 0;
	font: 0/1 'Oswald', sans-serif;
}

h1 {
	text-align: center;
	margin: 0 5px 15px;
	font-size: 45px;
	line-height: 1.2;
	text-transform: uppercase;
	text-shadow: 0 0 20px #000;
}

.countersidechars {
	color: #c00;
}

input {
	position: absolute;
	left: -9999px;
	
}

label {
	display: inline-block;
	position: relative;
	width: 150px;
	margin: 5px;
	padding: 10px 10px 10px 38px;
	background-color: rgba(0, 0, 0, 0.616);
	font-size: 18px;
	white-space: nowrap;
	cursor: pointer;
}

label::before {
	display: flex;
	content: '';
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 18px;
	height: 18px;
	border: 2px solid #fff;
	background-color: #444;
}

input:focus+label {
	outline: 1px solid #fff;
}

input:checked+label::before {
	background-color: #c00;
}

/* width is controlled here and in media queries to ensure that there's always an even number of columns (prevents orphans) */

.characters {
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	list-style-type: none;
	padding: 0;
	padding-bottom: 20px;
}

.characters li {
	display: inline-block;
	position: relative;
	margin: 10px;
	padding: 0;
	width: 100px;
	height: 100px;
}

.characters h2 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 90px;
	left: 0px;
	right: 0px;
	margin: 0;
	padding: 4px;
	border: 2px solid rgba(185, 24, 24, 0.466);
	color: #fff;
	background-color: #000;
	font-size: 14px;
	font-weight: normal;
}

.characters img {
	width: 100%;
	height: 100%;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 35%;
	box-shadow: 0 0 20px #000;
	opacity: .25;
	transform: scale(.5);
}

.char-title {
	color: #fff;
}

label {
	color: white;
}

#all-type:checked~.characters [data-teams~="all-type"] h2,
#counter:checked~.characters [data-teams~="counter"] h2,
#soldier:checked~.characters [data-teams~="soldier"] h2,
#mech:checked~.characters [data-teams~="mech"] h2,
#awaken:checked~.characters [data-teams~="awaken"] h2,
#none-type:checked~.characters [data-teams~="none-type"] h2 {
	display: block;
}

#all-type:checked~.characters [data-teams~="all-type"] img,
#counter:checked~.characters [data-teams~="counter"] img,
#soldier:checked~.characters [data-teams~="soldier"] img,
#mech:checked~.characters [data-teams~="mech"] img,
#awaken:checked~.characters [data-teams~="awaken"] img,
#none-type:checked~.characters [data-teams~="none-type"] img {
	animation: avatar .3s forwards;
}

#all-cost:checked~.characters [data-teams~="all-cost"] h2,
#1:checked~.characters [data-teams~="1"] h2,
#2:checked~.characters [data-teams~="2"] h2,
#3:checked~.characters [data-teams~="3"] h2,
#4:checked~.characters [data-teams~="4"] h2,
#5:checked~.characters [data-teams~="5"] h2,
#6:checked~.characters [data-teams~="6"] h2 {
	display: block;
}

#all-cost:checked~.characters [data-teams~="all-cost"] img,
#1:checked~.characters [data-teams~="1"] img,
#2:checked~.characters [data-teams~="2"] img,
#3:checked~.characters [data-teams~="3"] img,
#4:checked~.characters [data-teams~="4"] img,
#5:checked~.characters [data-teams~="5"] img,
#6:checked~.characters [data-teams~="6"] img,
#none-cost:checked~.characters [data-teams~="none-cost"] img {
	animation: avatar .3s forwards;
}

/* fade in and expand image to full size, with a slight bounce */

@keyframes avatar {
	70% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


