@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);
body {
  background-color: rgba(0, 0, 0, 0.678);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../assets/images/bg.jpg") center no-repeat fixed;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../assets/images/bg.jpg") center no-repeat fixed;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*Sätter teckensnitt för bodyn*/
  margin-bottom: 60px;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 15px;
  background-color: rgba(83, 51, 51, 0.719);
  -webkit-box-shadow: 0px 4px 4px 4px;
          box-shadow: 0px 4px 4px 4px;
}

nav {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #770aca26;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 0px 4px 4px;
          box-shadow: 0px 0px 4px 4px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
  -webkit-transform: translateX(100rem);
          transform: translateX(100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

nav ul li:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

nav ul li:nth-child(2) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

nav ul li:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

nav ul li:nth-child(4) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav ul li a::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

figcaption {
  color: bisque;
}

footer {
  bottom: 0px;
}

.brand {
  color: white;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: translateX(-100rem);
          transform: translateX(-100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

.nounderline {
  text-decoration: none !important;
  color: white;
}

.brand span {
  color: crimson;
}

#player-container {
  margin-left: auto;
  margin-right: auto;
}

#darken {
  background-color: rgba(0, 0, 0, 0.726);
}

#index_title {
  text-align: center;
  font-size: 50px;
  color: #b700ff;
  background-color: rgba(114, 52, 81, 0.795);
  -webkit-box-shadow: 0px 0px 2px 2px;
          box-shadow: 0px 0px 2px 2px;
}

#index_list {
  color: burlywood;
}

#index_img {
  width: 100%;
  height: 75%;
  margin-right: auto;
  margin-left: auto;
}

#gridsystem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 1fr;
      grid-template-columns: 0.8fr 1fr;
  grid-auto-rows: 300px;
  /* border: 1px solid rgb(102, 63, 63); */
}

#gridsystem > P {
  padding-left: 50px;
}

#player-container {
  width: 100%;
}

@-webkit-keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 1024px) {
  body {
    overflow-y: visible;
  }
}

html nav {
  font-size: 20px;
}

#gridsystem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 500px;
  border: 1px solid #fff;
}

.span-atk {
  position: relative;
  color: #c52929;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.span-crit {
  position: relative;
  color: #c77647;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.span-hit {
  position: relative;
  color: #adcc3c;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.span-hp {
  position: relative;
  color: #56b942;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.span-def {
  position: relative;
  color: #415bad;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.span-eva {
  position: relative;
  color: #8849a5;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.SkillTitle {
  font-size: 1px;
  color: #6fba82;
}

#col-title {
  background-color: rgba(0, 0, 0, 0.76);
  color: aqua;
  text-align: center;
  margin-bottom: 12px;
}

#col-left {
  background-color: rgba(0, 0, 0, 0.76);
  color: aqua;
  margin-right: 3px;
  margin-bottom: 3px;
}

#col-middle {
  background-color: rgba(0, 0, 0, 0.76);
  color: aqua;
  text-align: center;
  margin-right: 3px;
  margin-bottom: 3px;
}

#col-right {
  margin-right: 1.5px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.76);
  color: rgba(149, 48, 196, 0.308);
  -webkit-box-shadow: 0px 0px 1px 1px;
          box-shadow: 0px 0px 1px 1px;
}

#col-left {
  background-color: rgba(0, 0, 0, 0.76);
  text-align: center;
  margin-right: 3px;
  margin-bottom: 3px;
  height: 700px;
  color: rgba(149, 48, 196, 0.308);
  -webkit-box-shadow: 0px 0px 1px 1px;
          box-shadow: 0px 0px 1px 1px;
}

#col-stats-defensive {
  background-color: rgba(0, 0, 0, 0.76);
  margin-right: 3px;
  margin-bottom: 3px;
  color: rgba(149, 48, 196, 0.308);
  -webkit-box-shadow: 0px 0px 1px 1px;
          box-shadow: 0px 0px 1px 1px;
}

#col-stats-offensive {
  background-color: rgba(0, 0, 0, 0.76);
  margin-right: 3px;
  margin-bottom: 3px;
  color: rgba(149, 48, 196, 0.308);
  -webkit-box-shadow: 0px 0px 1px 1px;
          box-shadow: 0px 0px 1px 1px;
}

#col_skill1 {
  color: rgba(149, 48, 196, 0.308);
  -webkit-box-shadow: 0px 0px 1px 1px;
          box-shadow: 0px 0px 1px 1px;
  margin-right: 1.5px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.76);
}

#col_skill2 {
  color: rgba(149, 48, 196, 0.308);
  -webkit-box-shadow: 0px 0px 1px 1px;
          box-shadow: 0px 0px 1px 1px;
  margin-left: 1.5px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.76);
}

#col_skill3 {
  color: rgba(149, 48, 196, 0.308);
  -webkit-box-shadow: 0px 0px 1px 1px;
          box-shadow: 0px 0px 1px 1px;
  margin-right: 1.5px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.76);
}

#col_skill4 {
  color: rgba(149, 48, 196, 0.308);
  -webkit-box-shadow: 0px 0px 1px 1px;
          box-shadow: 0px 0px 1px 1px;
  margin-left: 1.5px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.76);
}

#grid1 {
  position: relative;
  top: 10%;
  font-size: 24px;
}

#grid2 {
  position: relative;
  top: 10%;
  font-size: 24px;
}

#grid3 {
  position: relative;
  top: 10%;
  font-size: 24px;
}

#col-title {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}

#col-title:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 25s ease alternate infinite;
          animation: animatedgradient 25s ease alternate infinite;
  background-size: 300% 300%;
}

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#BasicAttackName {
  color: #ff94ac;
}

#PassiveSkillName {
  color: #ff94ac;
}

#SpecialSkillName {
  color: #ff94ac;
}

#UltimateSkillName {
  color: #ff94ac;
}

#BasicSkillTitle {
  color: #37c0ff;
}

#PassiveSkillTitle {
  color: #ffd447;
}

#SpecialSkillTitle {
  color: #37c0ff;
}

#UltimateSkillTitle {
  color: #b700ff;
}

#BasicSkillDesc {
  color: white;
  padding: 2.5%;
}

#PassiveSkillDesc {
  color: white;
  padding: 2.5%;
}

#SpecialSkillDesc {
  color: white;
  padding: 2.5%;
}

#UltimateSkillDesc {
  color: white;
  padding: 2.5%;
}

.Rank2Title,
.Rank3Title,
.Rank4Title,
.Rank5Title {
  color: #000;
  border-radius: 10px;
  background-color: #ffffffb3;
  display: block;
  width: 85px;
  text-align: center;
  font-weight: bold;
  height: 30px;
  position: relative;
  left: 0%;
}

#Rank2Basic,
#Rank3Basic,
#Rank4Basic,
#Rank5Basic {
  color: white;
  padding: 5px;
  position: relative;
  margin: auto;
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Rank2Passive,
#Rank3Passive,
#Rank4Passive,
#Rank5Passive {
  color: white;
  padding: 5px;
  position: relative;
  margin: auto;
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Rank2Special,
#Rank3Special,
#Rank4Special,
#Rank5Special {
  color: white;
  padding: 5px;
  position: relative;
  margin: auto;
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Rank2Ultimate,
#Rank3Ultimate,
#Rank4Ultimate,
#Rank5Ultimate {
  color: white;
  padding: 5px;
  position: relative;
  margin: auto;
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rank-holder {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

/* here comes import of progress bar CSS */
/* Basic resets */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

.div_bar {
  font-family: "Expletus Sans", sans-serif;
  width: 100%;
  max-width: 642px;
  height: auto;
  max-height: 575px;
  position: relative;
  z-index: 1;
}

.ulchar {
  padding-left: 2rem;
  padding-right: 2rem;
}

.li_bar {
  width: 100%;
  float: right;
  list-style-type: none;
  padding-right: 0;
  padding-left: 0;
  padding-top: 1.333%;
  padding-bottom: 0;
  left: -2%;
  position: relative;
}

.h2_title {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #ccc;
  padding: 0 0 0.25em;
  color: #09c;
  position: relative;
}

.p_atk {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  padding: 0rem;
  height: 1%;
  z-index: 2;
  margin-top: 22px;
}

.p_crit {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  margin-top: 22px;
}

.p_hit {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  margin-top: 22px;
}

.p_hp {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  margin-top: 22px;
  height: 1%;
}

.p_def {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  margin-top: 22px;
}

.p_eva {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  margin-top: 22px;
}

.p_offensive {
  color: #ffd375;
  z-index: 2;
  margin-top: 22px;
}

/* Styling an indeterminate progress bar */
/* progress:not(value) { <-- I added this comment line */
/* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
/*} <-- I added this comment line */
/* Styling the determinate progress element */
progress[value] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 100%;
  height: 20px;
  background-color: rgba(102, 102, 102, 0.205);
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  color: royalblue;
  position: relative;
  margin: -10px 0px 0.5em;
}

/*
        Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
        -webkit-progress-bar -> To style the progress element container
        -webkit-progress-value -> To style the progress element value.
        */
progress[value]::-webkit-progress-bar {
  background-color: rgba(102, 102, 102, 0.205);
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
}

progress[value]::-webkit-progress-value {
  position: relative;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 3px;
  /* Let's animate this */
  -webkit-animation: animate-stripes 5s linear infinite;
          animation: animate-stripes 5s linear infinite;
}

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */
progress[value]::-moz-progress-bar {
  /* Gradient background with Stripes */
  background-image: -moz-linear-gradient(135deg, transparent, transparent 100%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 100%), -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #09c, #f44);
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 3px;
  /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  /* Dimensions should be similar to the parent progress element. */
  width: 100%;
  height: 20px;
}

.progress-bar span {
  background-color: royalblue;
  border-radius: 3px;
  display: block;
  text-indent: -9999px;
}

p[data-value] {
  position: absolute;
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */
p[data-value]:after {
  content: attr(data-value) "";
  position: absolute;
  right: 0;
}

.atkbar::-webkit-progress-value,
.critbar::-webkit-progress-value,
.hitbar::-webkit-progress-value {
  /* Gradient background with Stripes */
  background-image: -webkit-linear-gradient(135deg, transparent, transparent 100%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 100%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #09c, #f44);
}

.hpbar::-webkit-progress-value,
.defbar::-webkit-progress-value,
.evabar::-webkit-progress-value {
  /* Gradient background with Stripes */
  background-image: -webkit-linear-gradient(135deg, transparent, transparent 100%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 100%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #09c, #f44);
}

/* Now we are good to duplicate html code for other skills and then add the css code for the new skill based on data-skill */
/* THE END */
/* here ends import of progress bar CSS */
/*# sourceMappingURL=character-styles.css.map */