@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);
html {
  height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.678);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../assets/images/bg.jpg") center no-repeat fixed;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../assets/images/bg.jpg") center no-repeat fixed;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*Sätter teckensnitt för bodyn*/
  margin-bottom: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 10px;
  margin-top: 75px;
  margin-bottom: 75px;
  background-color: rgba(83, 51, 51, 0.719);
  -webkit-box-shadow: 0px 4px 4px 4px;
          box-shadow: 0px 4px 4px 4px;
}

nav {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 20px;
  overflow-x: hidden;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
  -webkit-transform: translateX(100rem);
          transform: translateX(100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

nav ul li:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

nav ul li:nth-child(2) {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

nav ul li:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

nav ul li:nth-child(4) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav ul li a::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

figcaption {
  color: bisque;
}

footer {
  bottom: 0px;
  background-color: #5a3752b2;
  -webkit-box-shadow: 1px 1px 5px 5px;
          box-shadow: 1px 1px 5px 5px;
}

::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #2a262c8e;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #2a262c8e;
}

::-webkit-scrollbar-thumb {
  background-color: #3d7e83;
}

.brand {
  color: white;
  font-size: 40px;
  font-weight: 300;
  -webkit-transform: translateX(-100rem);
          transform: translateX(-100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

.nounderline {
  text-decoration: none !important;
  color: white;
}

.brand span {
  color: crimson;
}

#player-container {
  margin-left: auto;
  margin-right: auto;
}

#darken {
  background-color: rgba(0, 0, 0, 0.726);
}

#index_title {
  text-align: center;
  font-size: 50px;
  color: #b700ff;
  background-color: rgba(114, 52, 81, 0.795);
  -webkit-box-shadow: 0px 0px 2px 2px;
          box-shadow: 0px 0px 2px 2px;
}

#index_list {
  color: burlywood;
}

#index_img {
  width: 100%;
  height: 75%;
  margin-right: auto;
  margin-left: auto;
}

#gridsystem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 1fr;
      grid-template-columns: 0.8fr 1fr;
  grid-auto-rows: 300px;
  /* border: 1px solid rgb(102, 63, 63); */
}

#gridsystem > P {
  padding-left: 50px;
}

#player-container {
  width: 100%;
}

@-webkit-keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 1024px) {
  body {
    overflow-y: visible;
  }
}

html nav {
  font-size: 20px;
}

main {
  background-color: rgba(34, 34, 34, 0.719);
}

p {
  font-size: 10px;
  margin-bottom: 0px;
}

#pagetitle {
  text-shadow: -1px 1px 10px #b834f5;
}

#rarityimg {
  margin-right: -11px;
  margin-left: -11px;
  background-color: #8207b33f;
  height: 50px;
  -webkit-box-shadow: purple 1px 1px 5px 1px;
          box-shadow: purple 1px 1px 5px 1px;
}

#Rarity {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
}

#datagrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  color: #09c;
  background-color: #3f09553f;
  margin-right: -11px;
  margin-left: -11px;
}

#datagrid > p {
  font-size: 20px;
  text-align: center;
  text-shadow: 0 0 15px #2c99cc;
}

#biography {
  height: 250px;
  font-size: 15px;
  color: #07b39b;
  padding-top: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

#biography::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #4d31448e;
}

#biography::-webkit-scrollbar {
  width: 10px;
  background-color: #4d31448e;
}

#biography::-webkit-scrollbar-thumb {
  background-color: #385355;
}

#divider {
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
}

#skintitle {
  font-size: 25px;
  text-align: center;
  color: #ff00d4c7;
  padding-bottom: 10px;
  text-shadow: 0 0 15px #f500d1;
}

#skinbuttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  gap: 16px;
  padding-bottom: 10px;
}

#skinbuttons > input {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  color: #2e292c;
  -webkit-box-shadow: 0px 2px 2px 2px;
          box-shadow: 0px 2px 2px 2px;
  overflow: scroll;
}

#skinbuttons > input:hover {
  color: #07b39b;
}

#spritebuttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 0.2fr;
      grid-template-columns: 0.8fr 0.2fr;
}

#fx {
  width: 50%;
  background-color: #461d35;
  color: #67ffeb;
}

#fx:hover {
  background-color: #10405a;
}

#sprite {
  place-self: flex-end;
  width: 80%;
  background-color: #2e292c;
  color: #67ffeb;
}

#sprite:hover {
  background-color: #1d1f20;
}

.pagetitle {
  font-size: 50px;
}

#p_title1 {
  color: #c94d4d;
  font-size: 30px;
  text-shadow: -1px 1px 15px #993535;
  margin-bottom: 5px;
}

#p_title2 {
  color: #07b39b;
  font-size: 30px;
  text-shadow: -1px 1px 15px #07b39b;
  margin-bottom: 5px;
}

#gridsystem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 500px;
  border: 1px solid #fff;
}

.span-atk {
  position: relative;
  color: #c52929;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.span-crit {
  position: relative;
  color: #c77647;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.span-hit {
  position: relative;
  color: #adcc3c;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.span-hp {
  position: relative;
  color: #56b942;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.span-def {
  position: relative;
  color: #415bad;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.span-eva {
  position: relative;
  color: #8849a5;
  bottom: 7px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.SkillTitle {
  font-size: 1px;
  color: #6fba82;
}

#col-middle {
  background-color: rgba(0, 0, 0, 0.76);
  color: aqua;
  text-align: center;
}

#col-right {
  background-color: rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: inset #783641 0px 0px 7px 2px;
          box-shadow: inset #783641 0px 0px 7px 2px;
  height: 750px;
  margin: 7px;
}

#col-left {
  background-color: rgba(0, 0, 0, 0.76);
  text-align: center;
  height: 750px;
  -webkit-box-shadow: inset #783641 0px 0px 7px 2px;
          box-shadow: inset #783641 0px 0px 7px 2px;
  background-color: rgba(0, 0, 0, 0.76);
  margin: 7px;
}

#col-stats-defensive {
  background-color: rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: inset #783641 0px 0px 7px 2px;
          box-shadow: inset #783641 0px 0px 7px 2px;
  margin: 7px;
}

#col-stats-offensive {
  background-color: rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: inset #783641 0px 0px 7px 2px;
          box-shadow: inset #783641 0px 0px 7px 2px;
  margin: 7px;
}

#col_skill1 {
  background-color: rgba(0, 0, 0, 0.76);
  margin: 7px;
  -webkit-box-shadow: inset #783641 0px 0px 7px 2px;
          box-shadow: inset #783641 0px 0px 7px 2px;
}

#col_skill2 {
  background-color: rgba(0, 0, 0, 0.76);
  margin: 7px;
  -webkit-box-shadow: inset #783641 0px 0px 7px 2px;
          box-shadow: inset #783641 0px 0px 7px 2px;
}

#col_skill3 {
  background-color: rgba(0, 0, 0, 0.76);
  margin: 7px;
  -webkit-box-shadow: inset #783641 0px 0px 7px 2px;
          box-shadow: inset #783641 0px 0px 7px 2px;
}

#col_skill4 {
  background-color: rgba(0, 0, 0, 0.76);
  margin: 7px;
  -webkit-box-shadow: inset #783641 0px 0px 7px 2px;
          box-shadow: inset #783641 0px 0px 7px 2px;
}

#grid1 {
  position: relative;
  top: 10%;
  font-size: 24px;
}

#grid2 {
  position: relative;
  top: 10%;
  font-size: 24px;
}

#grid3 {
  position: relative;
  top: 10%;
  font-size: 24px;
}

#col-title {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.76);
  color: #b834f5;
  text-align: center;
  margin-bottom: 5px;
}

#col-title:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 10s ease alternate infinite;
          animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.skillintro {
  overflow: auto;
  padding-top: 10px;
}

.skillintro2 {
  float: left;
  padding-top: 10px;
}

.SkillImage {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 6px;
}

#BasicAttackName {
  color: #ff94ac;
  font-size: 30px;
}

#BasicSkillTitle {
  color: #37c0ff;
  font-size: 25px;
}

#BasicSkillDesc {
  font-size: 20px;
  color: #ffdddd;
  padding: 2.5%;
  height: 125px;
  overflow-y: scroll;
}

#PassiveSkillName {
  color: #ff94ac;
  font-size: 30px;
}

#PassiveSkillTitle {
  color: #ffd447;
  font-size: 25px;
}

#PassiveSkillDesc {
  color: #ffdddd;
  padding: 2.5%;
  font-size: 20px;
  height: 125px;
  overflow-y: scroll;
}

#SpecialSkillName {
  font-size: 30px;
  color: #ff94ac;
}

#SpecialSkillTitle {
  font-size: 25px;
  color: #37c0ff;
}

#SpecialSkillDesc {
  font-size: 20px;
  color: #ffdddd;
  padding: 2.5%;
  height: 125px;
  overflow-y: scroll;
}

#UltimateSkillName {
  font-size: 30px;
  color: #ff94ac;
}

#UltimateSkillTitle {
  font-size: 25px;
  color: #b700ff;
}

#UltimateSkillDesc {
  font-size: 20px;
  color: #ffdddd;
  padding: 2.5%;
  height: 125px;
  overflow-y: scroll;
}

.rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: rgba(0, 0, 0, 0.76);
  margin-left: 7px;
  margin-right: 7px;
}

#padbottom {
  padding-bottom: 10px;
}

.Rank2Title,
.Rank3Title,
.Rank4Title,
.Rank5Title {
  color: #edd1ff;
  background-color: #585858a1;
  display: block;
  text-align: center;
  font-weight: bold;
  height: 30px;
  position: relative;
  line-height: 1.2;
  width: 20%;
  border-radius: 12px;
  -webkit-box-shadow: -1px 1px 1px 0px;
          box-shadow: -1px 1px 1px 0px;
  font-size: 25px;
}

#Rank2Basic,
#Rank3Basic,
#Rank4Basic,
#Rank5Basic {
  color: #c19595;
  padding: 5px;
  position: relative;
  margin: auto;
  width: 97%;
  text-shadow: -1px 1px 4px #ed31db;
  font-size: 20px;
}

#Rank2Passive,
#Rank3Passive,
#Rank4Passive,
#Rank5Passive {
  color: #c19595;
  padding: 5px;
  position: relative;
  margin: auto;
  width: 97%;
  text-shadow: -1px 1px 4px #ed31db;
  font-size: 20px;
}

#Rank2Special,
#Rank3Special,
#Rank4Special,
#Rank5Special {
  color: #c19595;
  padding: 5px;
  position: relative;
  margin: auto;
  width: 97%;
  text-shadow: -1px 1px 4px #ed31db;
  font-size: 20px;
}

#Rank2Ultimate,
#Rank3Ultimate,
#Rank4Ultimate,
#Rank5Ultimate {
  color: #c19595;
  padding: 5px;
  position: relative;
  margin: auto;
  width: 97%;
  text-shadow: -1px 1px 4px #ed31db;
  font-size: 20px;
}

.rank-holder {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

/* Basic resets */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

.div_bar {
  font-family: "Expletus Sans", sans-serif;
  width: 100%;
  max-width: 642px;
  height: auto;
  max-height: 575px;
  position: relative;
  z-index: 1;
}

.ulchar {
  padding-left: 2rem;
  padding-right: 2rem;
}

.li_bar {
  width: 100%;
  float: right;
  list-style-type: none;
  padding-right: 0;
  padding-left: 0;
  padding-top: 1.333%;
  padding-bottom: 0;
  left: -2%;
  position: relative;
}

.h2_title {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #ccc;
  padding: 0 0 0.25em;
  color: #09c;
  position: relative;
}

.p_atk {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  padding: 0rem;
  height: 1%;
  z-index: 2;
  margin-top: 22px;
}

.p_crit {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  margin-top: 22px;
}

.p_hit {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  margin-top: 22px;
}

.p_hp {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  margin-top: 22px;
  height: 1%;
}

.p_def {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  margin-top: 22px;
}

.p_eva {
  color: #ffd375;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  z-index: 2;
  margin-top: 22px;
}

.p_offensive {
  color: #ffd375;
  z-index: 2;
  margin-top: 22px;
}

/* Styling an indeterminate progress bar */
/* progress:not(value) { <-- I added this comment line */
/* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
/*} <-- I added this comment line */
/* Styling the determinate progress element */
progress[value] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 100%;
  height: 20px;
  background-color: rgba(102, 102, 102, 0.205);
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  color: royalblue;
  position: relative;
  margin: -10px 0px 0.5em;
  -webkit-box-shadow: 0px 0px 10px 1px;
          box-shadow: 0px 0px 10px 1px;
}

/*
        Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
        -webkit-progress-bar -> To style the progress element container
        -webkit-progress-value -> To style the progress element value.
        */
progress[value]::-webkit-progress-bar {
  background-color: rgba(102, 102, 102, 0.205);
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
}

progress[value]::-webkit-progress-value {
  position: relative;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 3px;
  /* Let's animate this */
  -webkit-animation: animate-stripes 5s linear infinite;
          animation: animate-stripes 5s linear infinite;
}

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */
progress[value]::-moz-progress-bar {
  /* Gradient background with Stripes */
  background-image: -moz-linear-gradient(135deg, transparent, transparent 100%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 100%), -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #09c, #f44);
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 3px;
  /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  /* Dimensions should be similar to the parent progress element. */
  width: 100%;
  height: 20px;
}

.progress-bar span {
  background-color: royalblue;
  border-radius: 3px;
  display: block;
  text-indent: -9999px;
}

p[data-value] {
  position: absolute;
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */
p[data-value]:after {
  content: attr(data-value) "";
  position: absolute;
  right: 0;
  font-size: 25px;
}

.atkbar::-webkit-progress-value,
.critbar::-webkit-progress-value,
.hitbar::-webkit-progress-value {
  /* Gradient background with Stripes */
  background-image: -webkit-linear-gradient(135deg, transparent, transparent 100%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 100%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #09c, #f44);
}

.hpbar::-webkit-progress-value,
.defbar::-webkit-progress-value,
.evabar::-webkit-progress-value {
  /* Gradient background with Stripes */
  background-image: -webkit-linear-gradient(135deg, transparent, transparent 100%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 100%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #09c, #f44);
}

/* Now we are good to duplicate html code for other skills and then add the css code for the new skill based on data-skill */
/* THE END */
/* here ends import of progress bar CSS */
@media screen and (max-width: 1000px) {
  #skinbuttons {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 70px;
  }
}

@media screen and (max-width: 550px) {
  #skinbuttons {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 85px;
  }
}

@media screen and (max-width: 1300px) {
  .Rank2Title,
  .Rank3Title,
  .Rank4Title,
  .Rank5Title {
    width: 70px;
    height: 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 766px) {
  #skinbuttons {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 195px;
  }
  #col-right {
    margin: 0px;
    height: 800px;
  }
  #col-left {
    margin: 0px;
  }
  #col-stats-defensive {
    margin: 0px;
    margin-top: 5px;
  }
  #col-stats-offensive {
    margin: 0px;
    margin-top: 5px;
  }
  #col_skill1 {
    margin: 0px;
    margin-top: 5px;
  }
  #col_skill2 {
    margin: 0px;
    margin-top: 5px;
  }
  #col_skill3 {
    margin: 0px;
    margin-top: 5px;
  }
  #col_skill4 {
    margin: 0px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 600px) {
  .p_title {
    color: #07b39b;
    font-size: 30px;
  }
  p[data-value]:after {
    font-size: 15px;
    padding-top: 8px;
  }
  .SkillImage {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }
  #BasicAttackName {
    font-size: 20px;
  }
  #PassiveSkillName {
    font-size: 20px;
  }
  #SpecialSkillName {
    font-size: 20px;
  }
  #UltimateSkillName {
    font-size: 20px;
  }
  #BasicSkillTitle {
    font-size: 20px;
  }
  #PassiveSkillTitle {
    font-size: 20px;
  }
  #SpecialSkillTitle {
    font-size: 20px;
  }
  #UltimateSkillTitle {
    font-size: 20px;
  }
  #BasicSkillDesc {
    font-size: 15px;
  }
  #PassiveSkillDesc {
    font-size: 15px;
  }
  #SpecialSkillDesc {
    font-size: 15px;
  }
  #UltimateSkillDesc {
    font-size: 15px;
  }
  .Rank2Title,
  .Rank3Title,
  .Rank4Title,
  .Rank5Title {
    width: 50px;
    height: 20px;
    font-size: 14px;
  }
  #Rank2Basic,
  #Rank3Basic,
  #Rank4Basic,
  #Rank5Basic {
    font-size: 15px;
  }
  #Rank2Passive,
  #Rank3Passive,
  #Rank4Passive,
  #Rank5Passive {
    font-size: 15px;
  }
  #Rank2Special,
  #Rank3Special,
  #Rank4Special,
  #Rank5Special {
    font-size: 15px;
  }
  #Rank2Ultimate,
  #Rank3Ultimate,
  #Rank4Ultimate,
  #Rank5Ultimate {
    font-size: 15px;
  }
}
/*# sourceMappingURL=character-styles.css.map */